<!DOCTYPE html>
<html>
<head>
    <title>Numeri</title>
</head>
<body>
    <h1>Numeri</h1>
    <form action="/" method="POST">
        <input type="text" name="query" placeholder="Enter player name">
        <button type="submit">Submit</button>
    </form>
    {% if player_data %}
        <h2>{{ player_data.name }}</h2>
        <img id="player-image" src="{{ player_data['image_url'] }}" alt="Player Image">
        <h2>{{ player_data.position }}</h2>
        <h2>Height & Weight: {{ player_data.height_weight }}</h2>
        <!-- <h2 class="Reg_szn">Regular Season Career Averages: {{player_data.per_game_stats}}</h2> -->
        <table> 
            <thead> Regular Season Career Averages
              <tr>
                <th>Age</th>
                <th>Tm</th>
                <th>Lg</th>
                <th>Pos</th>
                <th>G</th>
                <th>MP</th>
                <th>FG</th>
                <th>FGA</th>
                <th>FG%</th>
                <th>3P</th>
                <th>3PA</th>
                <th>3P%</th>
                <!-- <th>2P</th>
                <th>2PA</th>
                <th>2P%</th>
                <th>eFG%</th> -->
                <th>FT</th>
                <th>FTA</th>
                <th>FT%</th>    
                <th>ORB</th>
                <th>DRB</th>
                <th>TRB</th>
                <th>AST</th>
                <th>STL</th>
                <th>BLK</th>
                <th>TOV</th>
                <th>PF</th>
                <th>PTS</th>
              </tr>
            </thead>
            <tbody>
              {% for row in player_data.per_game_stats %}
                <tr>
                    <td>{{ row['Age'] }}</td>
                    <td>{{ row['Tm'] }}</td>
                    <td>{{ row['Lg'] }}</td>
                    <td>{{ row['Pos'] }}</td>
                    <td>{{ row['G'] }}</td>
                    <td>{{ row['MP'] }}</td>
                    <td>{{ row['FG'] }}</td>
                    <td>{{ row['FGA'] }}</td>
                    <td>{{ row['FG%'] }}</td>
                    <td>{{ row['3P'] }}</td>
                    <td>{{ row['3PA'] }}</td>
                    <td>{{ row['3P%'] }}</td>
                    <!-- <td>{{ row['2P'] }}</td>
                    <td>{{ row['2PA'] }}</td>
                    <td>{{ row['2P%'] }}</td>
                    <td>{{ row['eFG%'] }}</td> -->
                    <td>{{ row['FT'] }}</td>
                    <td>{{ row['FTA'] }}</td>
                    <td>{{ row['FT%'] }}</td>
                    <td>{{ row['ORB'] }}</td>
                    <td>{{ row['DRB'] }}</td>
                    <td>{{ row['TRB'] }}</td>
                    <td>{{ row['AST'] }}</td>
                    <td>{{ row['STL'] }}</td>
                    <td>{{ row['BLK'] }}</td>
                    <td>{{ row['TOV'] }}</td>
                    <td>{{ row['PF'] }}</td>
                    <td>{{ row['PTS'] }}</td>
                </tr>
              {% endfor %}
              
            </tbody>
          </table>
        <table>
            <thead> Career Totals
                <tr>
                    <th>Age</th>
                    <th>Tm</th>
                    <th>Lg</th>
                    <th>Pos</th>
                    <th>G</th>
                    <th>MP</th>
                    <th>FG</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3P</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <!-- <th>2P</th>
                    <th>2PA</th>
                    <th>2P%</th>
                    <th>eFG%</th> -->
                    <th>FT</th>
                    <th>FTA</th>
                    <th>FT%</th>    
                    <th>ORB</th>
                    <th>DRB</th>
                    <th>TRB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>PF</th>
                    <th>PTS</th>
                  </tr>
            </thead>
            <tbody>
                {% for row in player_data.totals_stats %}
                  <tr>
                      <td>{{ row['Age'] }}</td>
                      <td>{{ row['Tm'] }}</td>
                      <td>{{ row['Lg'] }}</td>
                      <td>{{ row['Pos'] }}</td>
                      <td>{{ row['G'] }}</td>
                      <td>{{ row['MP'] }}</td>
                      <td>{{ row['FG'] }}</td>
                      <td>{{ row['FGA'] }}</td>
                      <td>{{ row['FG%'] }}</td>
                      <td>{{ row['3P'] }}</td>
                      <td>{{ row['3PA'] }}</td>
                      <td>{{ row['3P%'] }}</td>
                      <!-- <td>{{ row['2P'] }}</td>
                      <td>{{ row['2PA'] }}</td>
                      <td>{{ row['2P%'] }}</td>
                      <td>{{ row['eFG%'] }}</td> -->
                      <td>{{ row['FT'] }}</td>
                      <td>{{ row['FTA'] }}</td>
                      <td>{{ row['FT%'] }}</td>
                      <td>{{ row['ORB'] }}</td>
                      <td>{{ row['DRB'] }}</td>
                      <td>{{ row['TRB'] }}</td>
                      <td>{{ row['AST'] }}</td>
                      <td>{{ row['STL'] }}</td>
                      <td>{{ row['BLK'] }}</td>
                      <td>{{ row['TOV'] }}</td>
                      <td>{{ row['PF'] }}</td>
                      <td>{{ row['PTS'] }}</td>
                  </tr>
                {% endfor %}
                
              </tbody>
        </table>
        <table>
            <thead> Playoff Career Averages
                <tr>
                    <th>Age</th>
                    <th>Tm</th>
                    <th>Lg</th>
                    <th>Pos</th>
                    <th>G</th>
                    <th>MP</th>
                    <th>FG</th>
                    <th>FGA</th>
                    <th>FG%</th>
                    <th>3P</th>
                    <th>3PA</th>
                    <th>3P%</th>
                    <!-- <th>2P</th>
                    <th>2PA</th>
                    <th>2P%</th>
                    <th>eFG%</th> -->
                    <th>FT</th>
                    <th>FTA</th>
                    <th>FT%</th>    
                    <th>ORB</th>
                    <th>DRB</th>
                    <th>TRB</th>
                    <th>AST</th>
                    <th>STL</th>
                    <th>BLK</th>
                    <th>TOV</th>
                    <th>PF</th>
                    <th>PTS</th>
                  </tr>
            </thead>
            <tbody>
                {% for row in player_data.playoffs_per_game_stats %}
                  <tr>
                      <td>{{ row['Age'] }}</td>
                      <td>{{ row['Tm'] }}</td>
                      <td>{{ row['Lg'] }}</td>
                      <td>{{ row['Pos'] }}</td>
                      <td>{{ row['G'] }}</td>
                      <td>{{ row['MP'] }}</td>
                      <td>{{ row['FG'] }}</td>
                      <td>{{ row['FGA'] }}</td>
                      <td>{{ row['FG%'] }}</td>
                      <td>{{ row['3P'] }}</td>
                      <td>{{ row['3PA'] }}</td>
                      <td>{{ row['3P%'] }}</td>
                      <!-- <td>{{ row['2P'] }}</td>
                      <td>{{ row['2PA'] }}</td>
                      <td>{{ row['2P%'] }}</td>
                      <td>{{ row['eFG%'] }}</td> -->
                      <td>{{ row['FT'] }}</td>
                      <td>{{ row['FTA'] }}</td>
                      <td>{{ row['FT%'] }}</td>
                      <td>{{ row['ORB'] }}</td>
                      <td>{{ row['DRB'] }}</td>
                      <td>{{ row['TRB'] }}</td>
                      <td>{{ row['AST'] }}</td>
                      <td>{{ row['STL'] }}</td>
                      <td>{{ row['BLK'] }}</td>
                      <td>{{ row['TOV'] }}</td>
                      <td>{{ row['PF'] }}</td>
                      <td>{{ row['PTS'] }}</td>
                  </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</body>
</html>

